<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Price Tracker</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Stock Price Tracker</h1>

    <% if (locals.stocks) { %> <% stocks.forEach((stock) => { %>
    <div class="card-row">
      <div class="card-col symbol"><%= stock.symbol %></div>
      <div class="card-col price">$<%= stock.price %></div>
    </div>
    <% }) %> <% } else { %>
    <p>No stock data</p>
    <% } %>
  </body>
</html>
