body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  background: lightcyan;
}

.card-col {
  flex: 1;
  padding: 0 10px;
  text-align: center;
}

.symbol {
  font-weight: bold;
}

.price {
  color: green;
}
